body {
  background-color: rgb(249, 249, 249);
  color: rgb(85, 84, 89);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
a {
  color: rgb(85, 84, 89);
}
a:hover {
  color: #303030;
}

.main {
  margin-top: 20px;
}
.top-bar {
  color: #000;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid #666;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 4px 0px;
}

.top-bar h1 {
  margin: 0;
  line-height: 64px;
  font-size: 28px;
  color: rgb(0, 0, 0);
}
.top-bar .menu .button {

  color: #ffffff;
  width: 38px;
  height: 38px;
  margin: 20px;
  border: 1px dashed;
  display: inline-block;

}

.restaurant h3 {
  margin: 0;
  display: inline-block;
  font-size: 15px;
}

.price {
  float: right;
  margin-right: 5px;

}
.top-bar h1 {
  margin: 0;
  padding: 0;
  float: left;
}

h2 {
  margin: 5px 0 5px 0;
  font-size: 28px;
}

.restaurant ul {
  margin-left: -30px;
}

.restaurant ul li {
  margin-left: 5px;
  border-bottom: 1px dashed #303030;
  line-height: 30px;
  padding: 0;
}

.restaurant ul li:last-child {
  border-bottom: none;
}

.menu {
  float: left;
  margin-left: 20px;
  display: inline-block;
}
.menu li {
  list-style: none;
  display: inline-block;
  line-height: 64px;
  margin-right: 10px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu li a {
  color: #262626;
  text-decoration: none;
}

.menu.right {
  float: right;
}


.tools {

  float: RIGHT;
  font-size: 15px;
}

.description {
  font-size: 12px;
  display: block;
  line-height: 15px;
  margin-bottom: 7px;
  color: #303030;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}