body {
  background: #e3e3e3;
  color: #303030;
}

.top-bar {
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: rgb(111, 84, 153);
  background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
}

.top-bar .menu .button {

  color: #ffffff;
  width: 38px;
  height: 38px;
  margin: 20px;
  border: 1px dashed;
  display: inline-block;

}

.top-bar h1 {
  margin: 0;
  padding: 0;
}
