body {
  background: #e3e3e3;
  color: #303030;
  font-size: 15px;
}

.top-bar {
  color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: rgb(111, 84, 153);
  background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
}

.top-bar h1 {
  margin: 0;
  line-height: 50px;
}
.top-bar .menu .button {

  color: #ffffff;
  width: 38px;
  height: 38px;
  margin: 20px;
  border: 1px dashed;
  display: inline-block;

}

.restaurant h3 {
  margin: 0;
  display: inline-block;
  font-size: 15px;
}

.price {
  float: right;
  margin-right: 5px;

}
.top-bar h1 {
  margin: 0;
  padding: 0;
}


.restaurant ul {
  margin-left: -15px;
}

.restaurant ul li {
  margin-left: 5px;
  list-style: none;
  border-bottom: 1px dashed #303030;
  padding-bottom: 3px;
  line-height: 13px;
}

.restaurant ul li:last-child {
  border-bottom: 0;
}

